
<div class="card h-100 my-2 shadow-2-strong">
    <img (click)="redirectToProductosDetalle(producto.idProducto)" [ngSrc]="producto.linkDocumento" class="card-img-top img-fluid p-3" width="300" height="300" (load)="onImageLoad()" />
    <div class="card-body d-flex flex-column pb-0">
        <div class="d-flex flex-row">
            <h5 class="mb-1 me-1">{{producto.precio | currency:'HNL '}}</h5>
        </div>
        <p class="card-text">{{producto.nombre}}</p>
    </div>
    <div class="card-footer text-center  bg-white border-0 pt-0">
        <a class="btn btn-primary shadow-0 me-1 text-white d-block" (click)="addToCart(producto)">Añadir al carrito</a>
      </div>
</div>